<header>
    <div class="container cabecalho">
        <a href="index.html"><img class="logo" src="assets/img/logo.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="">Inicio</a>
            <a routerLink="login">Login</a>
            <a href="#">Campeonatos</a>
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>
        <!-- <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/bars.svg" alt="Ícone do menu de barras"></a> -->
        <a href="#" id="barras"><img class="icone-menu" src="assets/img/bars.svg" alt="Ícone do menu de barras"></a>
    </div>
</header>