<main>
    <section id="carrossel" class="banner banner-f1">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Liga E-Players</h1>
                <p>O maior portal de campeonatos online</p>
                <a href="#">Inscreva-se</a>
            </div>
        </div>
    </section>
    <section class="jogos">
        <div class="container posicionamento-jogos">
            <img src="assets/img/f1-logo.png" alt="Logo da Fórmula 1">
            <img src="assets/img/lol-logo.png" alt="Logo do League of Legends">
            <img src="assets/img/cs-logo.png" alt="Logo do Counter-Strike">
            <img src="assets/img/valorant.png" alt="Logo do Valorant">
            <img src="assets/img/fifa.png" alt="Logo do fifa">
        </div>
    </section>
    <section class="ofertas">
        <div class="container">
            <h2>Ofertas</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/cardnews.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Jogo do ano</h3>
                        <p>Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secao-sobre">
        <div class="container conteudo-sobre">
            <div class="texto-sobre">
                <h2>Como participar das ligas?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the .</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.</p>
            </div>
            <img src="assets/img/campeao-lol.png" alt="Imagem do campeao do lol, Ezreal">
        </div>
    </section>
</main>