<main>
    <form #loginForm="ngForm" (ngSubmit)="receberDados()">
        <div class="campo-label">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email" required>
        </div>
        
        <div class="campo-label">
            <label for="senha">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Sua senha aqui..." [(ngModel)]="userModel.password" required>
        </div>

        <button type="submit">Fazer Login</button>
        <p id="mensagem" *ngIf=" mensagem != '' ">{{ mensagem }}</p>
    </form>
</main>