footer {
    background-color: black;
}

.rodape {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    color: white;
}

.links-footer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.links-footer h2 {
    font-family: 'Titillium Web';
    font-size: 24px;
}

.links-footer a {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.links-footer a:hover {
    color: #0d6efd;
}

.sociais {
    width: 31%;
}

.sociais p {
    font-family: 'Titillium Web';    
}

.sociais form {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 37px;
    width: 65%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;
}

.sociais input[type="email"]::placeholder {
    color: #B8B3B3;
    font-weight: bold;
}

.sociais button{
    width: 35%;
    color: white;
    background-color: #001F70;
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;
}

.siga-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;
}

.siga-nos h2 {
    font-family: 'Titillium Web';
    font-size: 23px;
}